ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav {
	margin-top: 20px;
	width: 100%;
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 0 10px;
}

nav a {
	text-decoration: none;
	font-family: $fontPrimary;
}